# OSX
.DS_Store

# Logs
err.log
out.log
combined.log
logs/*.log
logs/.*-audit.json

# Dependency directory
node_modules/

# devs directory
configs/devs/

# public directory
public/uploads/images/*.png
public/uploads/images/*.jpg
public/uploads/images/*.jpeg
source/*
